@charset "UTF-8";
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
#contenedor {
    display: flex;
    flex-direction: row;
    width: 300vw;
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}
#portada {
    width: 100vw;
    height: 100vh;
    float: left;
    display: flex;
}
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: grayscale(80%) brightness(0.6);
}
#Titulo {
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
#logo {
    position: absolute;
    top: 50%;
    left: 4vw;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-image: url(img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}
#Titulo h1 {
    font-family: "Londrina Solid", sans-serif;
    color: #FFD36E;
    font-size: 45pt;
    margin-top: 20px;
    font-weight: 400;
}
#Titulo h2 {
    font-family: "Londrina Solid", sans-serif;
    color: #FFD36E;
    font-size: 35pt;
    font-weight: 300;
    margin-top: -15px;
}
header {
    width: 18vw;
    height: 85vh;
    float: left;
    position: fixed;
    z-index: 20;
}
header nav {
    position: absolute;
    top: 35vh;
    left: 3vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
nav ul li {
    margin: 20px 0;
    list-style-type: none;
}
nav ul li a {
    position: relative;
    display: flex;
    align-items: center;
}
nav ul li a::after {
    content: attr(data-text);
    position: absolute;
    left: 50px;
    color: #FFD36E;
    font-family: "Londrina Solid", sans-serif;
    font-size: 20pt;
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.3s ease;
    pointer-events: none;
}
nav ul li a:hover::after {
    opacity: 1;
    transform: translateY(0);
}
li a img {
    width: auto;
    height: 30px;
    transition: transform 0.2s ease;
    cursor: pointer;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.4));
}
#Personajes {
    position: absolute;
    top: 15vh;
    width: 82vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
#Personajes .grid {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 180px);
    justify-content: center;
    align-items: center;
    margin-left: 32vh;
}
.cuadro {
    width: 250px;
    height: 180px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;	
}
.cuadro.vacio {
    background: transparent;
}
#Personajes .cuadro img {
    display: block;
    height: auto;
    margin: 0;
    transition: transform 0.28s cubic-bezier(.2,.8,.2,1);
    transform-origin: center center;
    will-change: transform;
}
#Personajes .cuadro:hover img {
    transform: scale(1.12);
}
.cuadro.pancho img {
    width: 60%;
	padding-top: 80px;
}
.cuadro.canela img {
    width: 50%;
	padding-top: 80px;
}
.cuadro.aguita img {
    width: 45%;
	padding-top: 80px;
}
.cuadro.tinto img {
	width: 50%;
	padding-top: 60px;
}
.cuadro.luna img{
	width: 50%;
	padding-top: 60px;
}
.tinto{ background-color: #C7532A; }
.luna { background-color: #7CADAE; }
.pancho { background-color: #FFD36E; }
.canela { background-color: #7CADAE; }
.aguita { background-color: #C7532A; }

.names {
    position: absolute;
    bottom: -35px;
    width: 100%;
    text-align: center;
    color: #FFD36E;
    font-family: "Londrina Solid", sans-serif;
    font-size: 13pt;
    font-weight: 400;
}
#entrar-btn {
    position: absolute;
    right: -10vw;
    top: 50%;
    background-color: #FFD36E;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: #B54325;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 10;
    margin-left: 30px;
    width: 10vw;
    height: 8vh;
}
#entrar-btn span {
	font-family: "Londrina Solid", sans-serif;
	font-weight: 400;
	font-size: 25pt;
}
#entrar-btn:hover {
  transform: translateY(-50%) scale(1.1);
}
#Guardas {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#Guardas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}
#flecha-btn {
    position: absolute;
    right: 8vw;
    top: 50%;
    transform: translateY(-50%);
    color: #B54325;
    font-size: 40pt;
    font-family: "Londrina Solid", sans-serif;
    border-radius: 12px;
    padding: 10px 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 10;
    background-color: #FFD36E;
	border: none;
}
#Capitulos {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    box-sizing: border-box;
}
.titulo-capitulos {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Londrina Solid", sans-serif;
    font-size: 70pt;
    color: #FFD36E;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    z-index: 2;
    font-weight: 400;
    padding-left: 32px;
}
#Capitulos img.fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

#Capitulos .contenido {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding-top: 0;
    padding-right: 5vw;
    padding-left: 15vw;
    padding-bottom: 0;
    box-sizing: border-box;
}

#Capitulos .texto {
    width: 25%;
    font-family: "Londrina Solid", sans-serif;
    color: #6B5543;
}

#Capitulos .texto h1 {
    font-size: 50pt;
    color: #D96B3B;
    margin-bottom: 20px;
    font-weight: 400;
	text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

#Capitulos .texto p {
    font-family: "Londrina Solid", sans-serif;
    font-size: 16pt;
    line-height: 1.5;
    margin-top: 10px;
    color: #6B5543;
    font-weight: 300;
}

#Capitulos .texto strong {
    color: #D96B3B;
}

#Capitulos .personaje {
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -85px;
}

#Capitulos .personaje img {
    width: 335px;
    height: auto;
}

#Capitulos .amigos {
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2vw;
}

#Capitulos .amigos h2 {
    font-family: "Londrina Solid", sans-serif;
    font-size: 25pt;
    color: #7E9EA3;
    margin-bottom: 25px;
    font-weight: 400;
}

#Capitulos .grid-amigos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    justify-items: center;
}

#Capitulos .amigo {
    background-color: #F7D98C;
    border-radius: 12px;
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
}

#Capitulos .amigo:hover {
    transform: scale(1.05);
}

#Capitulos .amigo img {
    width: 50%;
    height: auto;
}

#Capitulos .amigo p {
    margin-top: 5px;
    color: #B54325;
    font-family: "Londrina Solid", sans-serif;
    font-size: 13pt;
}
